---
title: Registry details
layout: wedding_layout
---

# <%= current_page.data.title %>

First and foremost, we want you to know that your presence is gift enough. But if you do want to give us something, read on.

As most of you probably know, Gina and Arcadiy are planning on going on a big fancy round-the-world trip in 2016. We're going to be getting rid of most of our stuff, so we're not in position to receive physical gifts from folks.

What we *would* love, however is:

- Gift cards to Amazon, REI or Bed Bath and Beyond
- Donations to charity ([Seattle Area Feline Rescue][1], [DonorsChoose][2]) on our behalf
- [Straight cash, homey][3] (to akpaypal at elepsis.org)!

No matter what, we think you're an awesome person!

[1]: http://www.seattleareafelinerescue.org "Seattle Area Feline Rescue"
[2]: http://www.donorschoose.org "DonorsChoose"
[3]: https://www.paypal.com/webapps/mpp/send-money-online "Send money via PayPal"