---
title: Details
layout: wedding_layout
---

# <%= current_page.data.title %>

Our wedding will be held at 6 p.m. on Friday, July 24, 2015! 

The reception is happening at the same place immediately afterwards.

### Location
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21502.441218588243!2d-122.34596010052164!3d47.64935311141918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549015014c0f7ec1%3A0x952ce04764dc964d!2sLake+Washington+Rowing+Club!5e0!3m2!1sen!2sus!4v1423800183259" width="600" height="450" frameborder="0" style="border:0"></iframe>

### Mini-FAQ

#### What's the dress code?

Pants. Definitely wear pants. (A skirt or dress works too, or even a kilt if you can confirm your Scottish heritage.) In general, we'll love you as long as you're not a slob. You can't go wrong with business casual.

#### Can I bring kids?

While there will be a few children at the wedding, we're asking folks to plan for an adults-only ceremony/reception. Reach out to us if you would like to bring yours and we'll talk.

#### Will there be alcohol?

You know we wouldn't do the dry wedding thing to you.

#### Okay, I'm excited. Where do I RSVP?

[Right here][1]. Please do so by July 1 so we can have an accurate count!

[1]: http://arcadiy.org/wedding/rsvp "RSVP"