---
title: RSVP
layout: wedding_layout
---

<div id="wufoo-x1wij1bw1c4i5xa">
Fill out my <a href="https://elepsis.wufoo.com/forms/x1wij1bw1c4i5xa">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form builder</a> helps you make forms easy, fast, and fun.</div>
<script type="text/javascript">var x1wij1bw1c4i5xa;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'elepsis',
'formHash':'x1wij1bw1c4i5xa',
'autoResize':true,
'height':'1433',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { x1wij1bw1c4i5xa = new WufooForm();x1wij1bw1c4i5xa.initialize(options);x1wij1bw1c4i5xa.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
