---
title: Out of town information
layout: wedding_layout
---

# <%= current_page.data.title %>

If you're coming in from out of town, we've put together a handy FAQ.

### Will I need to rent a car?
Maybe. If you want to stay in a more remote area, you'll probably need to drive. That said, our wedding venue is quite well served by transit but does **not** have a significant amount of parking.

If you stay in the downtown Seattle area or one of the following neighborhoods and don't mind a bit of walking, you probably won't need a car to get to and from the venue.

- Fremont
- Wallingford
- Ballard
- Greenwood
- Phinney
- University district
- Belltown
- Downtown
- Queen Anne

### Is there a convenient hotel you would recommend?
Pretty much any hotel downtown will be within an easy 10-15 minute bus ride (25-30 minutes in traffic) of our wedding venue--counting walking.

However, to be honest, hotel prices downtown are currently outrageous. You might want to consider an option like [AirBnB][1] or [VRBO][2], and stick to one of the aforementioned neighborhoods for maximum convenience. If you want to stick to hotels and think downtown is too pricy, you might consider the [Holiday Inn Express Shoreline][3].

### How does transit work?
Seattle is served by [King County Metro][4] buses. Routes that travel near the venue include the 5, 16, 26, 32, 40 and E.

A bus ride costs $2.25 during off-peak times and $2.50 during peak times. Buses require exact change or the purchase of a stored value card (Orca card), available at light rail stations or [online][5] for $5.

### Is there cool stuff to do in Seattle?
But of course!

### What's the latest I can get in on Friday and still make it to your wedding?
As long as you stick to transit (the Sound Transit light rail to downtown Seattle - Westlake Center station, then a bus), you can make it from the airport to the wedding venue in about an hour and a half. So if you fly in by 4:30 p.m. you should be in good shape.

[1]: http://airbnb.com "AirBnB"
[2]: http://vrbo.com "VRBO"
[3]: http://www.ihg.com/holidayinnexpress/hotels/us/en/seattle/seaau/hoteldetail "Holiday Inn Express"
[4]: http://metro.kingcounty.gov "King County Metro buses"
[5]: http://www.orcacard.com/ "Orca card"