<% wrap_layout :layout do %>
	<div id="main" role="main" class="pure-u-1 pure-u-md-18-24">
		<%= yield %>
	</div>

    <div id="spacer" class="pure-u-1 pure-u-md-1-24"></div>

    <aside class="pure-u-1 pure-u-md-5-24" id="sidebar">

		<% if false %>
            <h3 class="sidebar-item">Hello</h3>
            <ul>
    	    	<% blog.articles[0...6].each do |article| %>
				<li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
				<% end %>
			</ul>
		<% end %>


		<h3 class="sidebar-item">Hello</h3>
		<p>I'm Arcadiy, a Russian-born, Georgia Tech-educated former bitter southerner and Microsoftie. I'm currently on a year-long tour through Europe and Asia.</p>
		<p>I write about technology, life, and travel. I believe that the most valuable thing someone can bring to the table is a unique point of view, so I'm working on mine.</p>
		<p><%= link_to 'Want to know more?', '/about.html' %></p>

		<h3 class="sidebar-item">Follow my trip</h3>
		<form action="https://tinyletter.com/arcadiyandgina" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/arcadiyandgina', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail"><a href="http://ginachernoby.com">My wife</a> and I are both writing as we travel, and you can keep up through our weekly emails! Just type your email address here:</label></p><p><input type="text" style="width:100px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>


        <h3 class="sidebar-item">Archives</h3>
        <ul>
        	<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
            <% end %>
        </ul>

        <h3 class="sidebar-item">Elsewhere</h3>
        <p><a href="https://twitter.com/arcadiy" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @arcadiy</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
    </aside>
<% end %>
