<% wrap_layout :layout do %>
  <div id="main" role="main" class="pure-u-1">
  	<article>
  		<h2 class="post_title">
  			<%= current_article.title %> 
  		</h2>
  		<h3 class="post_subtitle">
  			<%= current_article.data.subtitle %>
  		</h3>
  	
		<!-- article content -->
    	<div class="post_content">
    		<%= yield %>
    	</div>
    	<div class="post_upsell">
  			<p>Distinguished reader! If you liked this article, why not follow me on Twitter?</p>
  			<a href="https://twitter.com/arcadiy" class="twitter-follow-button" data-show-count="true">Follow @arcadiy</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  		</div>
    	<div class="post_meta"> 
			Posted on <%= current_article.date.strftime('%b %e, %Y') %> in
  			<%= current_article.data.category %>
  		</div>

  		<div class="post_comments">
  			<%= disqus %>
  		</div> 
  	</article>
  </div>
<% end %>