<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>arcadiy.org<%= ' - ' + current_page.data.title unless current_page.data.title.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">


    <%= stylesheet_link_tag 'main.css' %>
    <script>
      (function(d) {
        var config = {
          kitId: 'twd5qch',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <script type="text/javascript">
      var appInsights=window.appInsights||function(config){
          function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
      }({
          instrumentationKey:"3c00abaf-fac7-4f3c-bcc0-b8c51d621cf4"
      });

      window.appInsights=appInsights;
      appInsights.trackPageView();
    </script>
  </head>
  <body>
    <div id="container">


        <!-- Header goes here. Logo, links to pages, header image -->

        <div id="header" class="pure-g">
           <div id="logo" class="pure-u-1 pure-u-md-10-24"><%= image_tag 'adotorg.png' %></div>
           <div class="pure-u-1 pure-u-md-6-24"></div>
           <div class="pure-u-1 pure-u-md-8-24">
              <div class="pure-menu pure-menu-horizontal" id="navigation">
                <ul id="navmenu">
                  <li class="pure-menu-item"><%= link_to 'home', '/index.html', :class => "pure-menu-link" %></li>
                  <li class="pure-menu-item"><%= link_to 'about', '/about.html', :class => "pure-menu-link" %></li>
                  <li class="pure-menu-item"><%= link_to 'contact', '/contact.html', :class => "pure-menu-link" %></li>
                </ul>
              </div>
           </div>
          </div>
        <!-- Divider from header to content -->
        <div class="divider pure-g">
          <div class="pure-u-1"></div>
        </div>

        <!-- Insert main content here, including sidebar -->
        <div id="content" class="pure-g">
            <%= yield %>
        </div>
        <div class="divider pure-g">
			<div class="pure-u-1"></div>
        </div>
        <div id="footer" class="pure-g">
          <div id="copyright" class="pure-u-1">&copy; 2017 arcadiy.org. You're the best. No, you.</div>
        </div>

    </div>


    <!-- Analytics and scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <%= google_analytics_tag %>
  
  </body>
</html>
