<% wrap_layout :layout do %>
	<div id="main" role="main" class="pure-u-1 pure-u-md-18-24 on_page">
		<%= yield %>
	</div>

    <div id="spacer" class="pure-u-1 pure-u-md-1-24"></div>

    <aside class="pure-u-1 pure-u-md-5-24" id="sidebar">

		<% if false %>
            <h3 class="sidebar-item">Hello</h3>
            <ul>
    	    	<% blog.articles[0...6].each do |article| %>
				<li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
				<% end %>
			</ul>
		<% end %>



		<h3 class="sidebar-item">Keep up with me!</h3>
		<form action="https://tinyletter.com/arcadiyandgina" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/arcadiyandgina', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">We've written a newsletter every few weeks of our trip, and it's the best way to keep up with our adventures. Now that we're winding down, we'll keep sharing as we post the rest of our photos and give occasional updates on our life. You should subscribe!</label></p><p><input type="text" style="width:160px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>

		<h3 class="sidebar-item">Archives by category</h3>
		<ul>
			<li><%= link_to "Travel", category_path('travel') %></li>
			<li><%= link_to "Technology", category_path('technology') %></li>
			<li><%= link_to "Career", category_path('career') %></li>
			<li><%= link_to "Everything else", category_path('Other') %></li>
		</ul>	

        <h3 class="sidebar-item">Archives by date</h3>
        <ul>
        	<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
            <% end %>
        </ul>

    </aside>
<% end %>
