<% wrap_layout :layout do %>
  <div id="main" role="main" class="pure-u-1">
  	<article>
  		<div align="center">
	  		<h2 class="post_title">
  				Gina and Arcadiy's wedding! 
  			</h2>
			<div style="padding-top: 5px; padding-bottom: 5px;">
				<img src="http://arcadiy.org/wedding/arcadiy_and_gina_cropped.jpg" alt="Gina and Arcadiy" height="506" width="740"> 
  			</div>
  			<h3 class="post_subtitle">
  				July 24, 2015 in Seattle, WA
  			</h3>
			<div class="pure-menu pure-menu-open pure-menu-horizontal">
				<ul>
					<li><%= link_to 'Details', 'index.html' %></li>
					<li><%= link_to 'Out of town info', 'stay.html' %></li>
					<li><%= link_to 'Registry', 'gift.html' %></li>
					<li><%= link_to 'RSVP', 'rsvp.html' %></li>
				</ul>
			</div>
  		</div>
  		

		
		<!-- article content -->
    	<div class="post_content">
    		<%= yield %>
    	</div>
    	
  	</article>
  </div>
<% end %>