---
title: The Olympic Torch relay
date: 2008-04-02
category: Travel
tags: Kazakhstan
---

![Olympic Torch Relay][pic]
The Olympic Torch relay kicked off in Almaty on its way to lots of countries before it arrives back in Beijing to kick off the 2008 Summer Olympic Games. The relay slogan is "Light the passion. Share the dream."

[pic]: <%= root_url %>/2008/04/the-olympic-torch-relay/olympicrelay9b9.jpg "Olympic Torch relay"