---
title: Celebrating International Women's Day
date: 2008-03-07
category: Travel
tags: Kazakhstan
---

![Congratulations][pic]
"Congratulations on the holiday, our dear ladies!"

I was going to post photos today, but some technical issues unfortunately prevented me from doing it... so, some time on Tuesday, perhaps. It'll give me the chance to take some more photos, while I'm at it.

Meanwhile, today we celebrated March 8, International Women's Day, at work. I actually wrote a column about it for the 'Nique this week (that I'll post later), but the above photo is the poster the Magic department made for all the ladies in our office. We also all pitched in to purchase cake, flowers (well, amusing balloon animal-style flowers) and gifts for the entire female staff.

It might seem fairly insignificant, but the entire approach, with all the guys in the office holding a meeting to determine plans, and assigning responsibilities, etc., not to mention everyone contributing a not insignificant amount of money, was just something totally alien to what I would have expected in the U.S. Perhaps part of it comes from working at a much smaller, younger and more closely-knit company, but I can't help but feel that part of it is based on cultural differences between the U.S. and Kazakhstan.

That's pretty much been the story, in fact: there hasn't been anything huge that has just totally caught me off guard about this country; for the most part it has been in line with my expectations. But it's the little things that jump out at me out of the blue that are adding up to an interesting cultural experience.

So far, I feel that I'm learning a lot, even though I have experienced relatively little here to date. Let's hope it keeps up.

[pic]: <%= root_url %>/2008/03/celebrating-intl-womens-day/women.jpg "Congratulations ladies!"