---
title: My chameleon hand
date: 2008-07-16
category: Other
tags: Kazakhstan
---

![My chameleon hand][pic]
One of my more unusual assignments at work: serve as the model for an experiment with hand drawings. This was the result after some Photoshop processing.

[pic]: <%= root_url %>/2008/07/my-chameleon-hand/chameleonhand.jpg "Chameleon hand"