---
title: Conferences and commitment
date: 2008-05-15
category: Other
tags: Ukraine
---

![Locks hang on the "Bridge of Love" in Kiev.][pic]

In Kiev, there is a roughly 100-year-old bridge known as the "Bridge of Love." It is not a particularly long or wide bridge, as it only connects two parks and is intended for pedestrian traffic only, and in fact it seems a little unstable. But as the bridge is one of many structures worldwide to carry the legend that passing across it with a significant other will lead to eternal happiness, couples have scribbled, tied cloths, and placed metal locks onto the bridge as signs of their commitment.
Despite the fact that I just had an unforgettable experience learning from and working with people from over 20 different countries at AIESEC's International Trainers Congress and I have lots of memorable photos from the trip, this is the photo that stands out most in my mind.

The locks on the bridge are to me a reminder of the commitments I made to myself and to others at the conference: to aim for and achieve my goals related to gaining and practicing training skills, keeping up contact with people from the conference and applying my newfound knowledge in a meaningful way. Shamefully, I have often failed to complete the lofty goals I set for myself at these conferences, but I think there are several things that differentiate ITC from the past ones.

First and foremost, the goals I set coming off the other conferences were largely AIESEC-related, and my occasional love-hate relationship with the organization (or at least AIESEC United States) often got in the way and sapped me of energy. The skills I gained at ITC, on the other hand, are much more applicable to my overall life, and practicing them makes sound sense regardless of the medium. In the near term that's likely to continue to be AIESEC, but in the future it could be anything. Second, I was too busy much of the time to really reflect on the things I wanted to achieve and put the appropriate amount of effort into them, as I was constantly sideswiped by "just getting by." As I mentioned in my thoughts on mental bandwidth, I think this problem is, at least for the immediate future, solved. Finally, I am a somewhat older and more experienced person now, and I think that will also play a role.

So with all that said (and no actual details about the conference itself&#151;I'll correct that oversight another time), I'm looking for suggestions on as many effective ways to hold myself accountable as I can reasonably implement. What are your thoughts, oh few readers of mine?

[pic]: <%= root_url %>/2008/05/conferences-and-commitment/commitment.jpg "Locks of commitment"