---
title: Things I did not miss
date: 2008-02-29
category: Other
tags: Kazakhstan
---

![Dianetics][pic]
As seen on the side of a bus stop in Kazakhstan.

Some things, unfortunately, are present everywhere. For the non-Cyrillic readers among you, that's L. Ron Hubbard's Dianetics, advertised on the side of a bus stop in Almaty.

[pic]: <%= root_url %>/2008/02/things-i-did-not-miss/dianetics.jpg "Dianetics"