---
title: Opera bookmarklet for tr.im
date: 2009-05-01
category: Technology
tags: Opera
---

![trim bookmarklet][pic]

I signed up for the pretty cool URL-shortening service [tr.im][1] today, mostly because of the statistics it enables users to view about each link. (Yes, there are issues with using URL shorteners, but if you have to use them, you may as well use a good one.) To make using it more convenient, I wanted to add a button to my browser to automatically shorten a URL.

They had a convenient bookmarklet that worked in Opera, my web browser of choice, but when I added it, I realized all custom buttons get the same default icon in Opera, the "new bookmark" icon. I was already using that for my delicious bookmarklet, and I didn't want two stars I'd get confused between in my menu bar. So I whipped up a custom button using Opera's "Fit to width" image. The screenshot shows how it looks. If you're using Opera and want to add it, just drag this link to a menu bar:

[tr.im URL][2]

[pic]: <%= root_url %>/2009/05/opera-bookmarklet-for-tr-im/trimbookmarklet.png "Trim bookmarklet in Opera"
[1]: http://tr.im "Trim"
[2]: opera://button/Go%20to%20page,%3Cbr%20/%3E%22javascript:var%20u=location.href;window.open('http://tr.im/marklet?url=%27%20+%20encodeURIComponent(u));void(0)%3Cbr%20/%3E%22,,%22tr.im%20URL%22,%22Enable%20mediumscreen%20mode%22 "Trim bookmarklet"