---
title: I am an AIESECer
date: 2009-01-06
category: Other
tags: AIESEC, Kazakhstan
---

![I am an AIESECer][pic]

[pic]: <%= root_url %>/2009/01/i-am-an-aiesecer/arcadiyaiesecer-s.jpg "I am an AIESECer"