---
title: Adding the Delicious bookmarklet to Opera
date: 2012-12-02
category: Technology
tags: Opera
---

If you use Delicious with the Opera browser like I do, you might have found yourself frustrated because the [official Delicious bookmarklet][1] just shows up as a blank icon when dragged to the Opera toolbar. I was, too, so I decided to tweak it for my own purposes.

### If you just want the fixed-up bookmarklet...
I reused the Opera icon used to bring up the Bookmarks menus. You can simply hold down shift, then drag and drop this button to your toolbar:

[Add to Delicious][2]

You'll end up with something like this:

![add_to_delicious][pic]

### If you're curious about how it works, or want to change the icon...
Opera lets you make custom buttons rather easily, though not many people are writing about this ability any more. Back in the day, though, there were whole sites to help you [make your own custom buttons][3].

That site documents the format for these buttons:

	ButtonX, "General Title"="Action, parameter1, parameter2, Action Title, Icon"

Now, the Opera toolbar configuration is kept in the **standard_toolbar.ini** file, which, at least on recent versions of Windows, will be somewhere in the following directory (adjusted for user name and drive letter):

	C:\Users\Arcadiy\AppData\Roaming\Opera\Opera\toolbar

If you add the Delicious bookmarklet from the official page, you'll find that it gets added with the action shown here:
<script src="https://gist.github.com/anonymous/4188296.js"></script>

If you compare that to the format above, you have the button name, the title and action, and then the arguments to that action. What you don't have are the Action Title or the Icon. So, all you have to do is add them, separated by commas, to the end of the line and hit save. (Note that you should keep Opera closed when you're editing this file.)

In my case, the name of the icon I used is "Panel Bookmarks." You might be asking yourself, how do you find the names of other icons you can use? Well, there's an old page for that, too: [it will load images from your current Opera skin][4] and show you what you'll get for each image name. It's possible that this doesn't show all possible icons, since it's a bit outdated, but it's reasonably comprehensive.

Pick an icon you like, and voila: a version of the Delicious bookmarklet that isn't hideously broken in Opera.

[1]: https://delicious.com/tools "Delicious bookmarklet"
[2]: opera://button/Go%20to%20page,%22javascript:(function()%7Bf='http://www.delicious.com/save?url=%27+encodeURIComponent(window.location.href)+%27&title=%27+encodeURIComponent(document.title)+%27&notes=%27+encodeURIComponent(%27%27+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text))+%27&v=6&%27;a=function(){if(!window.open(f+%27noui=1&jump=doclose%27,%27deliciousuiv6%27,%27location=1,links=0,scrollbars=0,toolbar=0,width=710,height=660%27))location.href=f+%27jump=yes%27};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()%22,%201,%20Add%20to%20Delicious,%20Panel%20Bookmarks "Add to Delicious"
[3]: http://nontroppo.org/tools/buttonmaker/ "Opera button maker"
[4]: http://home.wanadoo.nl/sipke.reina/opera/images.html "Opera icon viewer"
[pic]: <%= root_url %>/2012/12/adding-the-delicious-bookmarklet-to-opera/add_to_delicious.png "Add to Delicious in Opera"