@mixin callout {
	background: $calloutbackcolor;
	border-left: 10px solid $calloutsidecolor;
	margin: 1.5em;
	padding: 0.5em;
	padding-left: 1.5em;
}

/* ------
 * Article styles for single-article pages
 * ------  */

	.post_title {
		font-size: 3em;
		margin-bottom: 0em;
		color: $primarycolor;
		line-height: 140%;
		margin-top: 0.3em;
	}
	
	.post_subtitle {
		margin-top: 0.2em;
		font-size: 1.5em;
		line-height: 140%;
	}
	
	.post_meta {
		font-size: 1.2 em;
		color: $metacolor;
		text-align: right;
	}

	.post_content {
		font-size: 1.1em;
	}

	.post_content img {
		max-width: 670px;
		width: 100%;
	}
	
	.post_content blockquote {
		@include callout;
	}
	
	.post_content h3 {
		font-size: 1.4em;
		border-left: 10px solid $calloutsidecolor;
		padding-left: 0.5em;
		background: $calloutbackcolor;
	}
	
	.post_content h4 {
		font-size: 1.2em;
	}

	.post_content h5 {
		font-size: 1.1em;
		font-style: italic;
	}
		
	.post_upsell {
		font-style: italic;
		@include callout;
	}	
	
	.footnotes {
		color: $metacolor;
		font-size: 0.9em;
	}
