/* ------
 * Fonts
 * ------  */

$fontclassic: Constantia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
$fontnew: pt-serif, Constantia, Palatino, serif;

/* ------
 * Main and link colors
 * ------  */
$primarycolor: #f47a0e;
$secondarycolor: #fa0202;
$visitedcolor: #743a07;

/* ------
 * Colors for callouts (blockquotes and other things to draw attention)
 * ------  */
$calloutsidecolor: #f6a258;
$calloutbackcolor: #f4efed;

/* ------
 * Other colors
 * ------  */
 $metacolor: #808080;