/* ------
 * Styles for non-single article pages, including the home page
 * ------  */

.on_page {
    font-size: 1.1em;
}

.on_page h3 {
    font-size: 1.4em;
    border-left: 10px solid $calloutsidecolor;
    padding-left: 0.5em;
    background: $calloutbackcolor;
}


.on_page h2 {
    font-size: 1.8em;
}

/* Post titles on the main page */
h2.on_page_post {
    font-size: 1.35em;
    margin-top: 1.1em;
}

/* Post subtitles on the main page */
h4.on_page_post {
    font-size: 1.2em;
}

/* Post dates on the main page */
span.on_page_date {
    color: #ccc;
}

/* Post content on the main page */
.on_page_post {
    font-size: 1em;
}

/* For pages that let you go to the previous/next page. Currently disabled? */
#pagination {
    text-align: center;
    margin-top: 2em;
}

.page_link {
    margin-left: 2em;
    margin-right: 2em;
}

/* Coming soon note for posts */
.upcoming {
    font-variant: small-caps;
    color: $visitedcolor;
    background-color: $calloutbackcolor;
}