/* ------
 * Sidebar on non-article pages
 * ------  */
    
    #sidebar {
    	padding-top: 1.1em;

		ul {
			color: #ccc;
			list-style-type: none;
			padding-left: 0em;
			margin-top: 0em;
		}

		p {
			padding-left: 0em;
			margin-top: 0em;
		}
    }
    
    .sidebar-item {
    	margin-top: 0.5em;
    	margin-bottom: 0em;
    	font-variant: small-caps;    	
    }