@import 'decisions';
@import 'boilerplate';
@import 'sidebar';
@import 'article';
@import 'pages';

/* ------
 * Main body styles & setup.
 * ------  */
    body {
        color: #333;
    }
    
    html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: $fontnew;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }

    #container {
        max-width: 980px;
        margin: 0 auto;
        background-color: #fff;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    #header {
        margin-top: 1em;
        margin-bottom: 0;
    }

    .divider {
        background: $primarycolor;
        height: 0.2em;
        margin-top: 0;
        margin-bottom: 1em;
    }

	#navigation {
		vertical-align: top;
	}
	
    #navmenu a {
        font-size: 1em;
        color: $primarycolor;
    }

    #logo {
        padding-top: 0.5em;
    }

    #content {
        padding-left: 2.8em;
        padding-right: 2.8em;
        padding-bottom: 2.8em;
    }
    
    a {
    	color: $primarycolor;
    }
    
    a:visited {
    	color: $visitedcolor;
    }
    
    a:hover {
    	color: $secondarycolor;
    }

    #footer {
		text-align: center;
		font-size: 0.8em;
		color: #ccc;
    }
    
    #mainpic {
        float: right;
        margin-left: 1em;
        margin-top: 2.5em;
    }