/* ------
 * Fonts
 * ------  */
/* ------
 * Main and link colors
 * ------  */
/* ------
 * Colors for callouts (blockquotes and other things to draw attention)
 * ------  */
/* ------
 * Other colors
 * ------  */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.8; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ------
 * Sidebar on non-article pages
 * ------  */
#sidebar {
  padding-top: 1.1em; }
  #sidebar ul {
    color: #ccc;
    list-style-type: none;
    padding-left: 0em;
    margin-top: 0em; }
  #sidebar p {
    padding-left: 0em;
    margin-top: 0em; }

.sidebar-item {
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-variant: small-caps; }

/* ------
 * Article styles for single-article pages
 * ------  */
.post_title {
  font-size: 3em;
  margin-bottom: 0em;
  color: #f47a0e;
  line-height: 140%;
  margin-top: 0.3em; }

.post_subtitle {
  margin-top: 0.2em;
  font-size: 1.5em;
  line-height: 140%; }

.post_meta {
  font-size: 1.2 em;
  color: #808080;
  text-align: right; }

.post_content {
  font-size: 1.1em; }

.post_content img {
  max-width: 670px;
  width: 100%; }

.post_content blockquote {
  background: #f4efed;
  border-left: 10px solid #f6a258;
  margin: 1.5em;
  padding: 0.5em;
  padding-left: 1.5em; }

.post_content h3 {
  font-size: 1.4em;
  border-left: 10px solid #f6a258;
  padding-left: 0.5em;
  background: #f4efed; }

.post_content h4 {
  font-size: 1.2em; }

.post_content h5 {
  font-size: 1.1em;
  font-style: italic; }

.post_upsell {
  font-style: italic;
  background: #f4efed;
  border-left: 10px solid #f6a258;
  margin: 1.5em;
  padding: 0.5em;
  padding-left: 1.5em; }

.footnotes {
  color: #808080;
  font-size: 0.9em; }

/* ------
 * Styles for non-single article pages, including the home page
 * ------  */
.on_page {
  font-size: 1.1em; }

.on_page h3 {
  font-size: 1.4em;
  border-left: 10px solid #f6a258;
  padding-left: 0.5em;
  background: #f4efed; }

.on_page h2 {
  font-size: 1.8em; }

/* Post titles on the main page */
h2.on_page_post {
  font-size: 1.35em;
  margin-top: 1.1em; }

/* Post subtitles on the main page */
h4.on_page_post {
  font-size: 1.2em; }

/* Post dates on the main page */
span.on_page_date {
  color: #ccc; }

/* Post content on the main page */
.on_page_post {
  font-size: 1em; }

/* For pages that let you go to the previous/next page. Currently disabled? */
#pagination {
  text-align: center;
  margin-top: 2em; }

.page_link {
  margin-left: 2em;
  margin-right: 2em; }

/* Coming soon note for posts */
.upcoming {
  font-variant: small-caps;
  color: #743a07;
  background-color: #f4efed; }

/* ------
 * Main body styles & setup.
 * ------  */
body {
  color: #333; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: pt-serif, Constantia, Palatino, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em; }

#container {
  max-width: 980px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 2em; }

#header {
  margin-top: 1em;
  margin-bottom: 0; }

.divider {
  background: #f47a0e;
  height: 0.2em;
  margin-top: 0;
  margin-bottom: 1em; }

#navigation {
  vertical-align: top; }

#navmenu a {
  font-size: 1em;
  color: #f47a0e; }

#logo {
  padding-top: 0.5em; }

#content {
  padding-left: 2.8em;
  padding-right: 2.8em;
  padding-bottom: 2.8em; }

a {
  color: #f47a0e; }

a:visited {
  color: #743a07; }

a:hover {
  color: #fa0202; }

#footer {
  text-align: center;
  font-size: 0.8em;
  color: #ccc; }

#mainpic {
  float: right;
  margin-left: 1em;
  margin-top: 2.5em; }

/*# sourceMappingURL=main.css.map */
