---
layout: page_layout
title: About Arcadiy
---

# <%= current_page.data.title %>

There's more to me than my Russian background and my eternal love of all things [Eurovision][eurovision]. 

### Available for hire

Hey, might as well lead with what's important. Starting November 2017, I'm looking for my next long-term relationship (with a company). If you're in the market for a technical product manager who likes working on the non-glamorous bits of software, or just want to chat, take a look at my [LinkedIn][3] and [reach out][contact]. I'd love to have a cup of tea with you.

### Product manager

I joined Microsoft right out of college and found myself on a team of less than 50 engineers working on a new, up-and-coming product called OneDrive[^1]. Over the next seven and a half years, I worked on some of the hairiest parts of the service while watching it grow and merge with other parts of the company. OneDrive is now one of the largest cloud storage services in the world. 

I spent my last year and a half at Microsoft on the SharePoint side of the combined OneDrive/SharePoint team. In my time as a program manager[^2] on both of these teams, I was involved in all the aspects of running successful and rapidly growing online services:

- Building new features to help users get things done, and iterating on those features
- Scaling out a rapidly-expanding service and building automated systems to manage servers and deployments
- Dealing with the challenges of a large-scale consumer service, including building partnerships with other teams (and APIs to implement those partnerships), handling abuse and addressing cost considerations
- Working directly with enterprise IT groups to deeply understand their expectations and scenarios, as well as to support their rollouts of our services to their internal customers
- Understanding engineers and helping build the infrastructure to make their lives easier and more productive

While I worked on many important things over the years, I'm proudest of two projects I was involved in during my time at Microsoft:

- A [massive re-plumbing and overhaul][skyshare2] of sharing on the OneDrive service which enabled users to [share individual files for the first time][skyshare1] (!) and ensured Grandpa would actually see the photos you were trying to share with him (by dramatically reducing sharing failure rates), and
- Making SharePoint customers' lives dramatically better by enabling [a single OneDrive application to sync files from both OneDrive *and* SharePoint][spsync], finally letting users put an older, buggy sync client that was a leading cause of subscription cancellations out to pasture.

The things I love working on aren't glamorous. They're not the sexy new pixel-perfect redesign of a dialog box that gets screenshots in all the blog posts. Instead, they're about taking a complex system, understanding it deeply, and making substantive improvements that have a real impact on users' quality of life. There aren't many product managers who enjoy working on plumbing; I'm one of them.

### World traveler

My wife and I spent August 2016-October 2017 traveling the world full-time, circumnavigating the planet and checking most European and Asian countries off our bucket list.

I've [written about my learnings at length][travelwriting] here, but we also published a newsletter every few weeks throughout our trip. The [archives, full of our country-by-country reactions][newsletterarchive], are publicly available.

### AIESECer and Georgia Tech Yellow Jacket

[AIESEC][aiesec] is a global student-run organization, active in over 120 countries worldwide, that runs an exchange program through which students help other students have meaningful cultural experiences abroad by working at foreign companies, start-ups and non-profits. 

As a leader in AIESEC United States, I helped recruit and mentor new members, implement sensible nationwide processes and IT systems, and both send students abroad and welcome foreign students in Atlanta, and as an AIESEC program participant I spent eight months working at a small advertising agency in Almaty, Kazakhstan.

I organized student conferences and ran training sessions on everything from time management to IT systems for hundreds of students throughout the U.S. and worldwide, including the Baltic countries (Estonia, Latvia, Lithuania), Kazakhstan, Moldova and Ukraine.

I did all of this as a student at the Georgia Institute of Technology, from which I graduated with a BS in Computer Science in December 2008.

Now, I give back to this life-changing organization as a member of the AIESEC Seattle Board of Advisors (2014-2016) and frequent guest speaker at University of Washington AIESEC events.

### Internet celebrity

Okay, maybe not so much. But hey, if you want to track me down elsewhere on the interwebs:

* [Twitter][1] 
* [Facebook][2]
* [LinkedIn][3]

<form action="https://tinyletter.com/arcadiyandgina" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/arcadiyandgina', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">You can also subscribe to my occasional newsletter and keep up with what I'm doing, as well as new essays posted here: </label></p><p><input type="text" style="width:300px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>

[^1]: At the time, of course, the service was still called SkyDrive, but Microsoft can't have nice brand names because it gets sued.
[^2]: Microsoft, being a special snowflake, uses the term program manager to refer to the job that's known as product management at most other companies. Confusingly, a product manager at Microsoft has more to do with sales and marketing than engineering.

[1]: http://twitter.com/arcadiy "Arcadiy on Twitter"
[2]: http://facebook.com/arcadiy "Arcadiy on Facebook"
[3]: http://linkedin.com/in/arcadiy "Arcadiy on LinkedIn"
[eurovision]: http://eurovision.tv "Eurovision Song Contest"
[aiesec]: https://aiesec.org "AIESEC"
[spsync]: https://blogs.office.com/en-us/2016/09/26/sharepoint-online-sync-preview-headlines-ignite-announcements-for-onedrive/ "Sync SharePoint Online with the new OneDrive sync client"
[skyshare1]: http://web.archive.org/web/20120107230245/http://windowsteamblog.com/windows_live/b/windowslive/archive/2011/12/21/designing-app-centric-sharing-for-skydrive-part-1-of-2-complexity-of-simple.aspx "Designing app-centric sharing for SkyDrive, part 1 of 2: Complexity of simple"
[skyshare2]: http://web.archive.org/web/20120109000008/http://windowsteamblog.com/windows_live/b/windowslive/archive/2011/12/22/designing-app-centric-sharing-for-skydrive-part-2-of-2-rebuilding-permissions.aspx "Designing app-centric sharing for SkyDrive, part 2 of 2: Rebuilding permissions"
[travelwriting]: ../categories/travel "Arcadiy.org - Travel"
[newsletterarchive]: http://tinyletter.com/arcadiyandgina/archive "Arcadiy and Gina's newsletter archive"
[contact]: http://arcadiy.org/contact "Contact me"
[pic]: arcadiy.jpg "Arcadiy"