---
pageable: true
layout: page_layout
per_page: 6
---

<h1>Archive for category: <%= category %>
</h1>

<% page_articles.each_with_index do |article, i| %>
	<article>
		<h2 class="post_title on_page_post">
  			<%= article.title %> 
  			<span class="on_page_date"><%= article.date.strftime('%b %e, %Y') %></span>
  		</h2>
  		<h4 class="post_subtitle on_page_post">
  			<%= article.data.subtitle %>
  		</h4> 
		<!-- article content -->
    	<div class="post_content on_page_post">
    		<%= article.summary %>
    	</div>
    	<div><%= link_to "Read more...", article %></div>
	</article>
<% end %>

<% if paginate && num_pages > 1 %>
  <div id="pagination">
	  <% if prev_page %>
		<%= link_to 'Newer posts', prev_page, :class => 'pure-button page_link' %>
	  <% end %>
  
	  <span>Page <%= page_number %> of <%= num_pages %></span>
  
	  <% if next_page %>
		<%= link_to 'Older posts', next_page, :class => 'pure-button page_link' %>
	  <% end %>
  </div>
<% end %>